*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html {
  font-family: "Work Sans", sans-serif;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-200: hsl(275, 100%, 97%);
  --color-400: hsl(292, 16%, 49%);
  --color-600: hsl(292, 42%, 14%);
}

body {
  background-color: var(--color-200);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 225px;
  background-image: url(assets/images/background-pattern-mobile.svg);
}

.accordion-card {
  max-width: 350px;
  background-color: var(--color-white);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 30px;
}

h1 {
  display: flex;
  gap: 20px;
  color: var(--color-600);
}

h1::before {
  content: url(assets/images/icon-star.svg);
}

.question {
  font-weight: 600;
  color: var(--color-600);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 20px;
}

.question::after {
  content: url(assets/images/icon-plus.svg);
}

.answer {
  color: var(--color-400);
  line-height: 1.4;
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}

hr {
  border: 0.5px solid var(--color-200);
  margin: 20px 0;
}

.content-container.active .answer {
  height: 100%;
}

.content-container.active .question::after {
  content: url(assets/images/icon-minus.svg);
  transition: 0.5s;
}
